*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(200, 227, 240, 0.247),rgba(164, 184, 194, 0.445)), url('/static/image/jeshoots-com-pUAM5hPaCRI-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0%,100% 75%, 50% 100%, 0 75%, 0 0);
    position: relative;
}
.header::before, .nabar::before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: 0.3;
    z-index: -1;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}
.nav-item a{
    color: black !important;
    text-decoration: none;
}

.header-section{
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
    position: relative;
}
.center-div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.msg{
    position: relative;
    top: -630px;
}
.footersection{
    width: 100%;
    height: auto;
    padding: 70px 0 20px 0;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
    position: relative;
}
.footersection p{
    color: #fff;
}
.footersection li{
    list-style: none;
}
.footersection li a{
    text-decoration: none;
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
}
.footersection h3{
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;
    font-size: 1.2rem !important;
    font-weight: 600;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.icon{
    padding: 10px;
    color: black !important;
    font-size: 40px;
    margin: 3px;
}
.icon:hover{
    color: aqua !important;
}